/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ LAYOUT SECTION @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
* {
  box-sizing: border-box;
}

body{
  font-family: Verdana, Helvetica, sans-serif Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

header{
  background-color: #000000;
  color: white;
  font-size: 20px;
  text-align:center;
  padding: 20px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d65050;
  width: 100%;
  left: 0;
}
li{
  float: left;
}
li a{
  display: block;
  color: #000;
  font-size: 18px;
  font-style: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #555;
  color: white;
  border-radius: 5px;
}
.active{
  background-color: #555;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ IMAGES SECTION @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

header img{
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
