body{
  font-family: Verdana, Helvetica, sans-serif Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
}
.main-row{
  margin: 0px;
  padding: 0px;
  height:  100%;
  width: 100%;
  background: grey;
  display: flex;
}
.responsive{
  width: 100%;
  height: auto;
}

.image-text{
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
}
 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  font-style: italic;
  color: white;
}

/* Clear floats after image containers */
.row{
  background:#fff;
}
.row::after {
  content: "";
  clear: both;
  display: table;
  background: #d65050;
}

img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
div.row2-struct{
  font-style: italic;
  font-family: Verdana;
  text-align: center;
}

p{
  font-size: 16px;
}

header{
  display: flex;
  justify-content: left;
  margin: 0;
  background-color: #000000;
  color: white;
  width: 100%;
  left: 0;
  font-size: 20px;
  text-align: left;
}

* {
  box-sizing: border-box;
}
#map { 
  bottom: 0px;
  height: 400px;
  width: 100%;  
}
table {
  margin-left: 10px;
}

/* Table css */
table, th, td {
    margin-top: 50px;
    border: 4px solid black;
    border-collapse: collapse;
    margin-bottom: 100px;
    background: #d65050);
}
th, td {
    padding: 5px;
    text-align: left;    
}
td{

  width: 20%;
}

input[type=text], input[type=password] {

  height: 30px;
  width: 300px;
  padding: 15px;
  display: inline-block;
  border: none;
  background: rgb(233, 236, 236);
  border-radius: 10px;
}

textarea{
  border-radius: 10px;
  width: 250px;
  height: 150px;
  background: rgb(233, 236, 236);
}

textarea:focus{
  background-color: white;
  outline: none;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: white;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 30px;
  margin-top: 30px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d65050;
  width: 100%;
  left: 0;
}
li{
  float: left;
}

li a{
  display: block;
  color: #000;
  font-size: 18px;
  font-style: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #555;
  color: white;
}
.signup-nav{
  margin: 0 0 0 855px;
}
.signup-nav2{
  margin: 0 0 0 845px;
}

.active{
  background-color: #555;
}

/* Set a style for all buttons */
button {
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.signupbtn {
  height: 30px;
  width: 75px;
  border-radius: 100px;
  text-align: center;
  padding: 8px;
}

.signinbtn {
  height: 30px;
  width: 75px;
  border-radius: 100px;
  text-align: center;
  padding: 8px;
}

.submit{
  height: 30px;
  width: 75px;
  border-radius: 100px;
  text-align: center;
  padding: 8px;
}

.line{
  display: flex;
}

/* Add padding to container elements */
nav.container{
  display: flex;
  float: left;
}
.wrap-login{
  padding: 10px;
  width: 25.5%;
  margin: 0 auto;
  height: 38%;
  background-origin: padding-box;
  background-color: #d65050;
  border-radius: 20px;
}

.wrap-login h2{
  text-align: center;
}

.wrap-register h2{
  text-align: center;
}


.wrap-contact{
  padding-top: 10px;
  width: 650px;
  height: 470px;
  background-origin: padding-box;
  background-color: #ddd;
  padding-left: 200px;
  border-radius: 20px;
  font-weight: bold;
}

.mapouter{
  position:relative;
  text-align:right;
  height:500px;
  width:600px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:500px;
  width:600px;
}

.contact-row{
  height: 500px;
  width: 100%;
  background-color: white;
  display: flex;
}

.contact-map{
  margin-left: 0px;
}

.wrap-register{
  width: 25.5%;
  margin: 0 auto;
  height: 59%;
  background-origin: padding-box;
  background-color: #d65050;
  border-radius: 20px;
  padding: 10px;
}

.wrap-home{
  width: 27.20%;
  margin: 0 auto;
  height: 50%;
}

.container {
  padding: 16px;
  align-content: center;
  margin: 0 auto;
  background-color: #eae7dc;
  
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .signinbtn, .submit, .signupbtn {
    width: 100%;
  }
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: helvetica;
}

footer p{
  font-size: 12px;
}

.footer-divide{
 margin: 0;
 display: flex;
 padding: 0;
}
.divide{
  width: 33%;
  text-align: center;
}
#btn {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F3EFE0;
  color: black;
  font-size: 14px;
  text-align: center;
  margin-top: 150px;
  font-family: helvetica;
}
.footer-btn{
margin: 0;
display: flex;
padding: 0;
}
.btn{
width: 25%;
text-align: center;
}

.sidenav {
    float : right;
    height: 25%; 
    width: 160px;
    position: fixed; 
    z-index: 1; 
    top: 23.95%; 
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*lfet sidebar*/
.leftnav {
  height: 100%;
  width: 197px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 20px;
}

.leftnav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  font-weight: bold;
}

.leftnav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 190px;
  font-size: 14px;
  padding: 0px 10px;
  background: #F3EFE0;
}

@media screen and (max-height: 450px) {
  .leftnav {padding-top: 15px;}
  .leftnav a {font-size: 18px;}
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}



/*snack bar css*/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(230, 78, 78);
  color: #000000;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 15px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


* { box-sizing: border-box; }

$primary: #27ae60;

/*body {
  padding: 0;
  margin: 0;
  font-family: 'Lato';
  height: 100%;
  @include perspective(1500px);
}*/

.main-content {
  background: white;
  height: 100%;
  width: 100%;
  font-weight: bold !important;
  @include transition(0.3s all);

  h1 {
    color: $primary;
    margin: 0;
  }
}


.social-footer {
  padding: 1rem;
  background: #000000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li{
  background-color: #000000;
}

.fa {
  background: #000000;
  padding: 7px;
  color: #fefefe;
  font-size: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 3px 1px;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.1;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/*Instagram*/

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.sidebar {
  margin: 0;
  float: right;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 80%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

 .logo-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.logo-nav ul{
  background-color: #000000;
  color: white;
  font-size: 18px;
  padding: 0px;
  left: 0;
  overflow: hidden;

}

/*Home landing page*/

.mySlides {
  display:none;
}

.top-left{
  position: absolute;
  top: 50px;
  left: 100px;
  font-size: 40px;
  text-align: left;
  font-weight: bolder;
}

.container-text {
  position: relative;
  text-align: center;
  color: white;
}

.w3-content img{
  height: 540px;
}


.btn-position{
  position: absolute;
  top: 340px;
  left: 170px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
}

.btn-position2{
  position: absolute;
  top: 340px;
  left: 370px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #d65050;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
}

.form-position{
  position: absolute;
  top: 15px;
  left: 1275px;
}

.form-container2{
  position: absolute;
  right: 0;
  font-size: 12px;
  color: #000000;
  margin: 0 auto;
  max-width: 300;
  padding: 16px;
  text-align: left;
/*  background-color: white;*/
  background-color: #eae7dc;
  border-radius: 20px;
}

.body-text-pst{
  position: absolute;
  top: 150px;
  left: 100px;
  text-align: left;
  font-weight: bold;
}

/*Numbers row*/

.numbers{
  position: relative; 
  margin: 0 auto; /* Center it */
}

.numbers .numbers-content{
  height: 100%;
  position: absolute;/* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.9); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  text-align: center;
/*  text-decoration: underline #d65050;*/

}

.numbers .numbers-content2{
  height: 100%;
  top: 200px;
  left: 70px;
  max-width: 250px;
  height: 200px;
  position: absolute;/* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  text-align: center;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;

}

.numbers .numbers-content3{
  height: 100%;
  top: 200px;
  left: 370px;
  max-width: 250px;
  height: 200px;
  position: absolute;/* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  text-align: center;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;

}

.numbers .numbers-content4{
  height: 100%;
  top: 200px;
  left: 670px;
  max-width: 250px;
  height: 200px;
  position: absolute;/* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  text-align: center;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}

.numbers .numbers-content5{
  height: 100%;
  top: 200px;
  left: 970px;
  max-width: 250px;
  height: 200px;
  position: absolute;/* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  text-align: center;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;

}

hr{
border: 1px solid #eae7dc;
}

.home-row{
  width: 100%;
  height: 485px;
}
.home-row2{
  padding-left: 10px;
  top: 0;
  width: 100%;
  height: 550px;
  background-color: #eae7dc;
}
.home-row3{
  width: 100%;
  height: 500px;
  background-color: #eae7dc;
}

.home-row3-struct{
  padding-top: 20px; 
  width: 100%;
  background-color: #d65050;
  height: 100%;

}

.home-row3-struct h1{
  text-align: center;
}

.home-row4{
  width: 100%;
  height: 500px;
  background-color: white;
}

.home-row4 h1{
text-align: center;
}

.home-row5{
  width: 100%;
  height: 500px;
  background-color: red;
}

.home-row6{
  width: 100%;
  height: 500px;
  background-color: white;
}

.numbers img{
  height: 500px;
}

.home-row2-content2{
  height: 100%;
  top: 20px;
  left: 50px;
  position: absolute;/* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  color: #000000; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  text-align: left;
}

.home-row2-content3{
  height: 100%;
  top: 20px;
  left: 450px;
  position: absolute;/* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  color: #000000; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  text-align: left
}

.home-row2-content4{
  height: 100%;
  top: 20px;
  left: 870px;
  position: absolute;/* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  color: #000000; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.home-row2-content4 img{
  width: 315px;
  height: 275px;
}

video{
  width: 350px;
  height: 250px;
}

.bottom-left{
  position: absolute;
  top: 420px;
  left: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: white;
  max-width: 315px;
  height: 40px;
  position: absolute;/* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.bottom-left p{
  top: 350px;
}