/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ LAYOUT SECTION @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
* {
  box-sizing: border-box;
}

body{
  font-family: Verdana, Helvetica, sans-serif Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

header{
  background-color: #000000;
  color: white;
  font-size: 20px;
  text-align:center;
  padding: 20px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d65050;
  width: 100%;
  left: 0;
}
li{
  float: left;
}
li a{
  display: block;
  color: #000;
  font-size: 18px;
  font-style: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #000000;
  color: white;
}
.active{
  background-color: #000000;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ IMAGES SECTION @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

header img{
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

/*lfet sidebar*/
.leftnav {
  height: 100%;
  width: 197px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 20px;
}

.leftnav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  font-weight: bold;
}

.leftnav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 190px;
  font-size: 14px;
  padding: 0px 10px;
  text-align: left;
}

@media screen and (max-height: 450px) {
  .leftnav {padding-top: 15px;}
  .leftnav a {font-size: 18px;}
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FOOTER SECTION @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


footer{
	background-color:#d65050;
	padding: 0px;
	margin: 0px;
	clear: both;
	color: white;
	display: flex;
}

footer h3, h5{
  color: #d65050;
}

.footer-divide{
	margin: 0;
	display: flex;
	padding: 0;
   }

.divide{
	width: 25%;
	background-color: #000000;
	margin: 1px;
	padding: 20px;
	border-radius: 5px;
	color: white;
}

.main-coln{
	display: flex;
	padding-top: 0;

}

.coln2{
	padding-left: 40px;
}

.main-coln2{
	padding-top: 1px;

}

/*==================== MEDIA QUERIES SECTION =====================*/

@media (max-width: 600px){
	footer{
		display: inline;
		padding-left:10px;
		margin-left: auto;
		margin-right: auto;
	}
	.divide{
		width: 150px;
	}

	.skills-divide{
		display: inline;

	}
	.main-coln{
		display: inline;
		float: left;
	}
